#home.container{width: 100%;background: #2ca7e7;height:  100%;}
#home .conatinerTitle{width:  100%;height: 10%;display:  flex;}
#home .titleApp{margin:  auto;color:  white;font-weight: normal;}
#home .conatinerLogo{display:  flex;width: 100%;height: 20%;}
#home .logoApp{margin: auto;height: 100%;}
#home .containerSignDiv{width:  100%;height: 5%;display:  flex;}
#home .signDiv{width:  50%;display: flex;border-right: 1px solid white;height: 100%;margin:  auto;}
#home .signPara{margin:  auto;color:  white;font-size: 1rem;}
#home .logDiv{width: 50%;border-left: 1px solid white;height:  100%;display: flex;margin: auto;}
#home .signLog{margin: auto;color: white;font-size: 1rem;}
#home .containerFormSign{height: 65%;width: 100%;}
#home .inputDiv{width: 100%;padding: 3% 0px;display:  flex;}
#home .divIcone{color:  white;margin: auto;width: 20%;display:  flex;}
#home .divIcone i{
    margin: auto;
    font-size: 1.2rem;
}
#home .divInput{width:  80%;margin:  auto;display:  flex;}
#home .divInput input{
    width:  90%;
    margin: auto;
    border:  none;
    padding:  3%;
}
#home .divInput.birthday input{
    width: 90%;
    padding: 8%;
}
#home .divInput.birthday input.day{
   margin:  0;
   margin-right:  auto;
}
#home .divInput.birthday input.month{
   margin: auto;
}
#home .divInput.birthday input.year{
   margin: 0;
   margin-left: auto;
}
#home .divInput.birthday{
    width: 20%;
    margin: auto;
    border:  none;
}
#home .divButtonNext{width: 35%;border-radius: 20px;display:  flex;padding: 2%;margin: auto;background: #1b1b1b;border: 4px solid white;}
#home .paraButtonNext{color: #ffffff;margin:  auto;font-size: 1.3rem;}
#home .divGender{
  width:  20px;
  height:  20px;
  background: white;
  margin: auto;
}
#home .divGender.male{
  margin: auto;
}
#home .divGender.ok{
  background: #6eff55;
}
#home .divGender.female{
  margin: auto;
}
#home .genderContainer{display:  flex;width: 80%;}
#home .maleContainer{font-size: 1.4rem;color: white;width:  50%;margin: auto;display:  flex;}
#home .femaleContainer{color:  white;font-size: 1.4rem;width: 50%;display: flex;margin: auto;}
