#home.container{width: 100%;background: #2ca7e7;height:  100%;}
#home .conatinerTitle{width:  100%;height: 10%;display:  flex;}
#home .titleApp{margin:  auto;color:  white;font-weight: normal;}
#home .conatinerLogo{display:  flex;width: 100%;height: 20%;}
#home .logoApp{margin: auto;height: 100%;}
#home .containerSignDiv{width:  100%;height: 5%;display:  flex;}
#home .signDiv{width:  50%;display: flex;border-right: 1px solid white;height: 100%;margin:  auto;}
#home .signPara{margin:  auto;color:  white;font-size: 1rem;}
#home .logDiv{width: 50%;border-left: 1px solid white;height:  100%;display: flex;margin: auto;}
#home .signLog{margin: auto;color: white;font-size: 1rem;}
#home .containerFormSign{

}
#home .inputDiv{

}
#home .divIcone{

}
#home .divInput{

}
